/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --pepper-font-family-font-family-manrope: "Manrope";
  --pepper-font-family-font-family-noto-sans-arabic: "Noto Sans Arabic";
  --pepper-font-family-font-family-noto-sans-tc: "Noto Sans TC";
  --pepper-font-family-font-family-noto-sans-jp: "Noto Sans JP";
  --pepper-font-family-heading-h1-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-heading-h2-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-heading-h3-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-heading-h4-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-heading-h5-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-heading-h6-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-body-lg-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-body-md-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-body-sm-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-body-xs-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-label-lg-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-label-md-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-label-sm-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-body-2xs-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-label-xs-font-family: var(--pepper-font-family-font-family-manrope);
  --pepper-font-family-label-2xs-font-family: var(--pepper-font-family-font-family-manrope);
}